<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="styles/blog.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header', { activePage: 'blog' }); %>
    <main>
        <section class="container hero">
            <div class="hero__bg-wrapper">
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <img class="hero__bg-img" src="/img/banner-blog.png">
            </div>
            <div class="hero__content">
                <h1 class="hidden" aria-hidden="true">Good vibes</h1>
                <p class="hero__title">Освещаем тайны наружной рекламы</p>
                <p class="hero__text hero__text">Рассказываем, как наружная реклама и неоновые вывески создают уникальный образ бренда.</p>
            </div>
        </section>
        <section class="container">
            <div class="simple-grid">
                <article class="simple-grid__card">
                    <div class="article__poster"></div>
                    <p class="article__title">Название статьи</p>
                    <p class="article__description">Краткое описание краткое описание краткое описание краткое описание краткое описание</p>
                </article>
                <article class="simple-grid__card">
                    <div class="article__poster"></div>
                    <p class="article__title">Название статьи</p>
                    <p class="article__description">Краткое описание краткое описание краткое описание краткое описание краткое описание</p>
                </article>
                <article class="simple-grid__card">
                    <div class="article__poster"></div>
                    <p class="article__title">Название статьи</p>
                    <p class="article__description">Краткое описание краткое описание краткое описание краткое описание краткое описание</p>
                </article>
                <article class="simple-grid__card">
                    <div class="article__poster"></div>
                    <p class="article__title">Название статьи</p>
                    <p class="article__description">Краткое описание краткое описание краткое описание краткое описание краткое описание</p>
                </article>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>