<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="styles/index.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header', { activePage: '' }); %>
    <main>
        <section class="container hero">
            <div class="hero__bg-wrapper">
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <img class="hero__bg-img" src="/img/banner-index.png">
            </div>
            <div class="hero__content">
                <h1 class="hidden" aria-hidden="true">Good vibes</h1>
                <p class="hero__title">Выделяйтесь среди остальных</p>
                <p class="hero__text hero__text_large">Bogorodov Neon — мастерская по созданию вывесок и наружной рекламы.</p>
                <button class="button-secondary hero__button">Обсудить вашу идею</button>
            </div>
        </section>
        <section class="container info">
            <div class="info__card-list">
                <article class="info__card">
                    <div class="info-card__icon">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 24C0 10.7452 10.7452 0 24 0H104C117.255 0 128 10.7452 128 24V104C128 117.255 117.255 128 104 128H24C10.7452 128 0 117.255 0 104V24Z" fill="url(#paint0_linear_4441_5594)"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M46.6317 54.827C46.6317 57.9532 44.0974 60.4875 40.9712 60.4875C40.1396 60.4875 39.3498 60.3082 38.6386 59.9861C37.4304 61.9556 36.5151 64.1241 35.9531 66.431C38.2117 67.1746 39.8421 69.3013 39.8421 71.8088C39.8421 74.3163 38.2117 76.443 35.9532 77.1866C36.5152 79.4934 37.4306 81.6619 38.6387 83.6314C39.35 83.3094 40.1397 83.1301 40.9712 83.1301C44.0974 83.1301 46.6317 85.6644 46.6317 88.7906C46.6317 89.6221 46.4525 90.4117 46.1304 91.1229C48.1003 92.3313 50.2692 93.2467 52.5765 93.8086C53.3213 91.5521 55.447 89.9236 57.953 89.9236C60.459 89.9236 62.5847 91.5521 63.3295 93.8085C65.6368 93.2466 67.8057 92.3311 69.7755 91.1227C69.4536 90.4116 69.2743 89.622 69.2743 88.7906C69.2743 85.6644 71.8086 83.1301 74.9348 83.1301C75.7663 83.1301 76.5558 83.3093 77.267 83.6313C78.4756 81.6611 79.3911 79.4918 79.953 77.184C77.6985 76.4382 76.0717 74.3135 76.0717 71.8088C76.0717 69.3041 77.6985 67.1793 79.9531 66.4335C79.3913 64.1257 78.4757 61.9564 77.2672 59.9862C76.556 60.3082 75.7663 60.4875 74.9348 60.4875C71.8086 60.4875 69.2743 57.9532 69.2743 54.827C69.2743 53.9954 69.4536 53.2057 69.7757 52.4945C67.8058 51.2861 65.6369 50.3706 63.3296 49.8087C62.5849 52.0653 60.4592 53.694 57.953 53.694C55.4468 53.694 53.3211 52.0653 52.5764 49.8086C50.2691 50.3705 48.1002 51.286 46.1303 52.4943C46.4524 53.2056 46.6317 53.9953 46.6317 54.827ZM57.9535 78.6019C61.705 78.6019 64.7462 75.5608 64.7462 71.8093C64.7462 68.0578 61.705 65.0166 57.9535 65.0166C54.2021 65.0166 51.1609 68.0578 51.1609 71.8093C51.1609 75.5608 54.2021 78.6019 57.9535 78.6019Z" fill="url(#paint1_linear_4441_5594)"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M78.127 35.8331C77.7487 37.4157 76.1591 38.3919 74.5765 38.0136C74.1555 37.913 73.7774 37.7266 73.4563 37.4775C72.6064 38.3282 71.8807 39.3151 71.3171 40.4148C72.3685 41.0651 72.9352 42.3378 72.632 43.606C72.3288 44.8744 71.2475 45.7533 70.0153 45.8575C70.0204 47.0942 70.2214 48.3037 70.595 49.4478C70.9952 49.37 71.418 49.3745 71.8404 49.4755C73.423 49.8538 74.3992 51.4434 74.0209 53.026C73.92 53.448 73.7329 53.827 73.4829 54.1486C74.3332 54.9976 75.3195 55.7227 76.4184 56.2858C77.0687 55.2341 78.3415 54.6672 79.6099 54.9705C80.8784 55.2737 81.7573 56.3551 81.8614 57.5874C83.098 57.5822 84.3072 57.3812 85.4511 57.0077C85.3739 56.6084 85.3787 56.1867 85.4794 55.7654C85.8577 54.1829 87.4473 53.2066 89.0299 53.585C89.451 53.6856 89.8292 53.8721 90.1503 54.1213C91.0001 53.2705 91.7258 52.2835 92.2893 51.1838C91.2378 50.5335 90.6712 49.2608 90.9744 47.9926C91.2776 46.7244 92.3586 45.8455 93.5906 45.7411C93.5854 44.5048 93.3844 43.2958 93.011 42.1522C92.6129 42.2285 92.1926 42.2235 91.7727 42.1231C90.1901 41.7448 89.2139 40.1551 89.5922 38.5726C89.6927 38.1525 89.8784 37.7752 90.1267 37.4546C89.2759 36.6044 88.2889 35.8783 87.189 35.3144C86.5391 36.3672 85.2655 36.9348 83.9965 36.6315C82.7272 36.328 81.8479 35.2454 81.7448 34.0121C80.5084 34.0172 79.2992 34.2182 78.1555 34.5916C78.2325 34.9906 78.2277 35.4121 78.127 35.8331ZM80.9811 49.2368C82.8802 49.6908 84.7878 48.5193 85.2418 46.6202C85.6958 44.7211 84.5243 42.8136 82.6252 42.3596C80.7261 41.9056 78.8186 43.0771 78.3646 44.9761C77.9106 46.8752 79.082 48.7828 80.9811 49.2368Z" fill="url(#paint2_linear_4441_5594)"/>
                            <defs>
                            <linearGradient id="paint0_linear_4441_5594" x1="64" y1="-59.5" x2="65.5" y2="132" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1B091A"/>
                            <stop offset="1" stop-color="#812A7E" stop-opacity="0.5"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_4441_5594" x1="75.169" y1="49.5276" x2="30.5393" y2="93.0534" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FE4CE7"/>
                            <stop offset="1" stop-color="#9743AA"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_4441_5594" x1="84.4653" y1="34.6625" x2="79.1404" y2="56.9369" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#812A7E" stop-opacity="0.8"/>
                            <stop offset="1" stop-color="#E000D7" stop-opacity="0.3"/>
                            </linearGradient>
                            </defs>
                        </svg>                            
                    </div>
                    <h3 class="info-card__title">Без посредников</h3>
                    <p class="info-card__text">Благодаря собственному производству, контролируем качество каждого изделия.</p>
                </article>
                <article class="info__card">
                    <div class="info-card__icon">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 24C0 10.7452 10.7452 0 24 0H104C117.255 0 128 10.7452 128 24V104C128 117.255 117.255 128 104 128H24C10.7452 128 0 117.255 0 104V24Z" fill="url(#paint0_linear_4441_5635)"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.3033 47.964C33.4733 42.2767 38.508 38 44.5416 38C48.8888 38 52.7175 40.22 54.9557 43.5882C57.1939 40.22 61.0226 38 65.3698 38C71.3788 38 76.3971 42.2419 77.5936 47.8945H77.6135C79.8695 54.489 72.2413 68.1985 54.9569 78.6108C36.9029 68.235 30.4592 54.5849 32.3033 47.964Z" fill="url(#paint1_linear_4441_5635)"/>
                            <path d="M94.375 91.2187C94.806 91.2187 95.2193 91.0475 95.524 90.7428C95.8288 90.438 96 90.0247 96 89.5937V87.569C96.0065 83.0092 89.5422 79.4375 83 79.4375C76.4577 79.4375 70 83.0092 70 87.569V89.5937C70 90.0247 70.1712 90.438 70.476 90.7428C70.7807 91.0475 71.194 91.2187 71.625 91.2187H94.375ZM88.8565 68.6377C88.8565 69.4068 88.705 70.1684 88.4107 70.8789C88.1164 71.5895 87.685 72.2351 87.1412 72.7789C86.5973 73.3227 85.9517 73.7541 85.2412 74.0484C84.5306 74.3428 83.7691 74.4942 83 74.4942C82.2309 74.4942 81.4694 74.3428 80.7588 74.0484C80.0483 73.7541 79.4027 73.3227 78.8588 72.7789C78.315 72.2351 77.8836 71.5895 77.5893 70.8789C77.295 70.1684 77.1435 69.4068 77.1435 68.6377C77.1435 67.0845 77.7605 65.5949 78.8588 64.4966C79.9571 63.3983 81.4468 62.7812 83 62.7812C84.5532 62.7812 86.0429 63.3983 87.1412 64.4966C88.2395 65.5949 88.8565 67.0845 88.8565 68.6377Z" fill="url(#paint2_linear_4441_5635)"/>
                            <defs>
                            <linearGradient id="paint0_linear_4441_5635" x1="64" y1="-59.5" x2="65.5" y2="132" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1B091A"/>
                            <stop offset="1" stop-color="#812A7E" stop-opacity="0.5"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_4441_5635" x1="72.9985" y1="37.7407" x2="31.9969" y2="83.0345" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FE4CE7"/>
                            <stop offset="1" stop-color="#9743AA"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_4441_5635" x1="83" y1="62.7812" x2="83" y2="91.2187" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#812A7E" stop-opacity="0.8"/>
                            <stop offset="1" stop-color="#E000D7" stop-opacity="0.3"/>
                            </linearGradient>
                            </defs>
                        </svg>                                                   
                    </div>
                    <h3 class="info-card__title">Индивидуальность</h3>
                    <p class="info-card__text">Создаем уникальные вывески, помогая увеличивать вашу клиентскую базу.</p>
                </article>
                <article class="info__card">
                    <div class="info-card__icon">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 24C0 10.7452 10.7452 0 24 0H104C117.255 0 128 10.7452 128 24V104C128 117.255 117.255 128 104 128H24C10.7452 128 0 117.255 0 104V24Z" fill="url(#paint0_linear_4441_4532)"/>
                            <path d="M86.0539 75.3726L87.9339 64.4926C88.0442 63.8549 88.0139 63.2008 87.845 62.576C87.6761 61.9513 87.3728 61.371 86.9563 60.8757C86.5397 60.3804 86.02 59.9821 85.4335 59.7087C84.8469 59.4352 84.2077 59.2932 83.5605 59.2926H69.7445C69.4221 59.2926 69.1035 59.2225 68.8109 59.0871C68.5183 58.9516 68.2587 58.7541 68.0501 58.5082C67.8415 58.2623 67.689 57.974 67.6031 57.6632C67.5171 57.3524 67.4999 57.0267 67.5525 56.7086L69.3205 45.9219C69.6061 44.1705 69.5244 42.3787 69.0805 40.6606C68.8889 39.9513 68.5217 39.3016 68.0127 38.7717C67.5038 38.2418 66.8695 37.8487 66.1685 37.6286L65.7819 37.5032C64.9075 37.2235 63.9593 37.2884 63.1312 37.6846C62.2245 38.1219 61.5632 38.9192 61.3179 39.8659L60.0485 44.7566C59.6451 46.3131 59.0579 47.8161 58.2992 49.2339C57.1925 51.3059 55.4805 52.9672 53.6992 54.5006L49.8619 57.8072C49.3295 58.2673 48.9137 58.8469 48.6486 59.4986C48.3835 60.1503 48.2765 60.8556 48.3365 61.5566L50.5019 86.6046C50.5973 87.7123 51.1047 88.744 51.9237 89.496C52.7428 90.2479 53.814 90.6653 54.9259 90.6659H67.3205C76.6059 90.6659 84.5285 84.1966 86.0539 75.3726Z" fill="url(#paint1_linear_4441_4532)"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.9149 57.2949C40.4302 57.2723 40.9344 57.4498 41.322 57.7902C41.7096 58.1306 41.9507 58.6076 41.9949 59.1215L44.5815 89.0842C44.6254 89.5304 44.5778 89.9808 44.4417 90.408C44.3055 90.8352 44.0838 91.2301 43.7899 91.5687C43.4961 91.9073 43.1363 92.1825 42.7325 92.3774C42.3287 92.5722 41.8895 92.6828 41.4415 92.7022C40.9936 92.7216 40.5465 92.6495 40.1273 92.4903C39.7082 92.3311 39.326 92.0881 39.0039 91.7762C38.6818 91.4643 38.4267 91.0901 38.2541 90.6763C38.0816 90.2625 37.9952 89.8179 38.0002 89.3695V59.2922C38.0004 58.7767 38.1997 58.2812 38.5564 57.909C38.9132 57.5369 39.3998 57.3169 39.9149 57.2949Z" fill="#821C7E"/>
                            <defs>
                            <linearGradient id="paint0_linear_4441_4532" x1="64" y1="-59.5" x2="65.5" y2="132" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1B091A"/>
                            <stop offset="1" stop-color="#812A7E" stop-opacity="0.5"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_4441_4532" x1="83.6847" y1="36.9915" x2="32.2405" y2="74.3175" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FE4CE7"/>
                            <stop offset="1" stop-color="#9743AA"/>
                            </linearGradient>
                            </defs>
                        </svg>                                                   
                    </div>
                    <h3 class="info-card__title">5+ лет опыта</h3>
                    <p class="info-card__text">Имеем за плечами многолетнюю успешную деятельность в сфере рекламы.</p>
                </article>
                <article class="info__card">
                    <div class="info-card__icon">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 24C0 10.7452 10.7452 0 24 0H104C117.255 0 128 10.7452 128 24V104C128 117.255 117.255 128 104 128H24C10.7452 128 0 117.255 0 104V24Z" fill="url(#paint0_linear_4396_5355)"/>
                            <path d="M46.5708 91H75.194C78.2014 91 79.9987 89.358 79.9987 86.1905V85.427C80.0289 77.331 71.3628 70.7606 67.5593 67.1826C66.4977 66.1851 65.938 65.2765 65.938 63.9562C65.938 62.6359 66.4977 61.756 67.5606 60.7298C71.3339 57.0917 80 50.933 80 42.5141V41.8108C80 38.642 78.2014 37 75.1953 37H46.5695C43.6213 37 42 38.642 42 41.5467V42.5141C42 50.933 50.6661 57.0917 54.4696 60.7298C55.5312 61.756 56.0909 62.6359 56.0909 63.9562C56.0909 65.2765 55.5312 66.1851 54.4684 67.1826C50.6661 70.7619 42 77.3323 42 85.427V86.4533C42 89.3568 43.6213 91 46.5695 91M47.66 45.7706H74.3677C75.4871 45.7706 75.6644 46.6504 75.0167 47.8531C72.3628 52.605 63.4313 60.2305 61.0138 60.2305C58.5964 60.2305 49.6649 52.6626 47.011 47.8531C46.3632 46.6504 46.5393 45.7706 47.66 45.7706Z" fill="url(#paint1_linear_4396_5355)"/>
                            <circle cx="80" cy="85" r="16" fill="#4B1F49"/>
                            <path d="M77.7144 89.5714C78.0382 89.5714 78.3098 89.4617 78.5292 89.2423C78.7487 89.0228 78.858 88.7516 78.8572 88.4286V81.5714C78.8572 81.2476 78.7475 80.9764 78.5281 80.7577C78.3087 80.539 78.0374 80.4293 77.7144 80.4286C77.3913 80.4278 77.1201 80.5375 76.9007 80.7577C76.6812 80.9779 76.5715 81.2491 76.5715 81.5714V88.4286C76.5715 88.7524 76.6812 89.024 76.9007 89.2434C77.1201 89.4628 77.3913 89.5722 77.7144 89.5714ZM82.2858 89.5714C82.6096 89.5714 82.8812 89.4617 83.1007 89.2423C83.3201 89.0228 83.4294 88.7516 83.4287 88.4286V81.5714C83.4287 81.2476 83.319 80.9764 83.0995 80.7577C82.8801 80.539 82.6089 80.4293 82.2858 80.4286C81.9628 80.4278 81.6915 80.5375 81.4721 80.7577C81.2527 80.9779 81.143 81.2491 81.143 81.5714V88.4286C81.143 88.7524 81.2527 89.024 81.4721 89.2434C81.6915 89.4628 81.9628 89.5722 82.2858 89.5714ZM80.0001 96.4286C78.4192 96.4286 76.9334 96.1284 75.543 95.528C74.1525 94.9276 72.943 94.1135 71.9144 93.0857C70.8858 92.0579 70.0717 90.8484 69.4721 89.4571C68.8725 88.0659 68.5723 86.5802 68.5715 85C68.5708 83.4198 68.871 81.9341 69.4721 80.5428C70.0732 79.1516 70.8873 77.9421 71.9144 76.9143C72.9414 75.8865 74.151 75.0724 75.543 74.472C76.935 73.8716 78.4207 73.5714 80.0001 73.5714C81.5795 73.5714 83.0652 73.8716 84.4572 74.472C85.8492 75.0724 87.0588 75.8865 88.0858 76.9143C89.1129 77.9421 89.9273 79.1516 90.5292 80.5428C91.1312 81.9341 91.431 83.4198 91.4287 85C91.4264 86.5802 91.1262 88.0659 90.5281 89.4571C89.93 90.8484 89.1159 92.0579 88.0858 93.0857C87.0557 94.1135 85.8462 94.928 84.4572 95.5291C83.0683 96.1303 81.5826 96.4301 80.0001 96.4286Z" fill="url(#paint2_linear_4396_5355)"/>
                            <defs>
                            <linearGradient id="paint0_linear_4396_5355" x1="64" y1="-59.5" x2="65.5" y2="132" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1B091A"/>
                            <stop offset="1" stop-color="#812A7E" stop-opacity="0.5"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_4396_5355" x1="75.8683" y1="36.6552" x2="24.7437" y2="71.7419" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FE4CE7"/>
                            <stop offset="1" stop-color="#9743AA"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_4396_5355" x1="80.0001" y1="73.5714" x2="80.0001" y2="96.4286" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#812A7E" stop-opacity="0.8"/>
                            <stop offset="1" stop-color="#E000D7" stop-opacity="0.3"/>
                            </linearGradient>
                            </defs>
                        </svg>                                                                               
                    </div>
                    <h3 class="info-card__title">Долговечность</h3>
                    <p class="info-card__text">Используем сертифицированные материалы для производства наших изделий.</p>
                </article>
                <article class="info__card">
                    <div class="info-card__icon">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 24C0 10.7452 10.7452 0 24 0H104C117.255 0 128 10.7452 128 24V104C128 117.255 117.255 128 104 128H24C10.7452 128 0 117.255 0 104V24Z" fill="url(#paint0_linear_4396_5356)"/>
                            <path d="M66.0688 31.9987H51.1546C49.4078 31.9987 47.863 33.1322 47.3389 34.7986L39.6329 59.2986C38.8223 61.8757 40.747 64.4987 43.4486 64.4987H53.2524C54.5758 64.4987 55.5343 65.761 55.1789 67.0358L49.372 87.8647C49.0878 88.8842 50.3751 89.5888 51.0807 88.8L81.0158 55.3321C82.1683 54.0436 81.2537 51.9987 79.5251 51.9987H68.6838C67.3784 51.9987 66.4229 50.7683 66.7461 49.5035L69.9442 36.9891C70.5907 34.4595 68.6797 31.9987 66.0688 31.9987Z" fill="url(#paint1_linear_4396_5356)"/>
                            <path d="M86.7473 69.9987L76.9973 82.9987H89.9973L80.2473 95.9987" stroke="url(#paint2_linear_4396_5356)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <defs>
                            <linearGradient id="paint0_linear_4396_5356" x1="64" y1="-59.5" x2="65.5" y2="132" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1B091A"/>
                            <stop offset="1" stop-color="#812A7E" stop-opacity="0.5"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_4396_5356" x1="78.9958" y1="31.6156" x2="20.6035" y2="75.2757" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FE4CE7"/>
                            <stop offset="1" stop-color="#9743AA"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_4396_5356" x1="83.4973" y1="69.9987" x2="83.4973" y2="95.9987" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#812A7E" stop-opacity="0.8"/>
                            <stop offset="1" stop-color="#E000D7" stop-opacity="0.3"/>
                            </linearGradient>
                            </defs>
                        </svg>                                                   
                    </div>
                    <h3 class="info-card__title">Модернизация</h3>
                    <p class="info-card__text">Применяем инновационные методы производства для достижения высокого качества.</p>
                </article>
                <article class="info__card">
                    <div class="info-card__icon">
                        <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 24C0 10.7452 10.7452 0 24 0H104C117.255 0 128 10.7452 128 24V104C128 117.255 117.255 128 104 128H24C10.7452 128 0 117.255 0 104V24Z" fill="url(#paint0_linear_4396_5357)"/>
                            <path d="M92 44V67.2532C91.9996 71.4358 90.8576 75.544 88.6897 79.1615C86.5219 82.7789 83.4052 85.7771 79.6555 87.8523L65.736 95.5537C65.2073 95.8462 64.6089 96 64 96C63.3911 96 62.7927 95.8462 62.264 95.5537L48.3445 87.8523C44.5938 85.7766 41.4764 82.7773 39.3085 79.1585C37.1406 75.5397 35.9992 71.4302 36 67.2464V44" stroke="#81197D" stroke-width="3" stroke-linecap="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M62.818 32.2426C63.1915 32.0826 63.5936 32 64 32C64.4064 32 64.8085 32.0826 65.182 32.2426L84.364 40.465C85.4435 40.9277 86.3635 41.6971 87.0098 42.6777C87.6562 43.6584 88.0005 44.8071 88 45.9816V66.56C87.9996 70.2614 87.0208 73.897 85.1626 77.0984C83.3045 80.2997 80.633 82.9531 77.419 84.7895L65.488 91.605C65.0348 91.8638 64.5219 92 64 92C63.4781 92 62.9652 91.8638 62.512 91.605L50.581 84.7895C47.3661 82.9526 44.6941 80.2983 42.8359 77.0958C40.9777 73.8933 39.9993 70.2565 40 66.554V45.9816C40.0001 44.8076 40.3447 43.6595 40.991 42.6795C41.6373 41.6995 42.5569 40.9305 43.636 40.468L62.818 32.2426ZM75.121 58.1216C75.6675 57.5559 75.9699 56.7981 75.963 56.0116C75.9562 55.2251 75.6407 54.4727 75.0845 53.9165C74.5282 53.3603 73.7758 53.0448 72.9892 53.038C72.2026 53.0312 71.4448 53.3335 70.879 53.88L61 63.7582L57.121 59.8795C56.5552 59.3331 55.7974 59.0307 55.0108 59.0375C54.2242 59.0444 53.4718 59.3598 52.9155 59.916C52.3593 60.4722 52.0438 61.2246 52.037 62.0111C52.0301 62.7976 52.3325 63.5554 52.879 64.1212L58.879 70.1207C59.4416 70.6831 60.2045 70.999 61 70.999C61.7955 70.999 62.5584 70.6831 63.121 70.1207L75.121 58.1216Z" fill="url(#paint1_linear_4396_5357)"/>
                            <defs>
                            <linearGradient id="paint0_linear_4396_5357" x1="64" y1="-59.5" x2="65.5" y2="132" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1B091A"/>
                            <stop offset="1" stop-color="#812A7E" stop-opacity="0.5"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_4396_5357" x1="82.781" y1="31.6169" x2="23.7312" y2="77.6882" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FE4CE7"/>
                            <stop offset="1" stop-color="#9743AA"/>
                            </linearGradient>
                            </defs>
                        </svg>                                          
                    </div>
                    <h3 class="info-card__title">Ответственность</h3>
                    <p class="info-card__text">Гарантируем выполнение заказов в срок и безупречное качество изготовления.</p>
                </article>
            </div>
        </section>
        <section class="container postcard__wrapper">
            <article class="postcard">
                <div class="postcard__content">
                    <img class="postcard__img" src="/img/postcard_img.png">
                    <p class="postcard__title">
                        Мы заботимся о наших клиентах и дарим подарки
                        в знак благодарности за выбор нашей компании
                    </p>
                    <p class="postcard__text">
                        Всегда готовы помочь вам выбрать стиль, создать дизайн
                        <br/>
                        и узнать стоимость вывески.
                    </p>
                    <button class="button-primary">Получить подарок</button>
                </div>
            </article>
        </section>
        <section class="container">
            <h2 class="section-title">Чаще всего наши клиенты выбирают</h2>
            <div class="simple-grid">
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_neon.png">
                    <h3 class="simple-grid-card__title">Неоновые вывески</h3>
                </article>
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_letters.png">
                    <h3 class="simple-grid-card__title">Объемные буквы</h3>
                </article>
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_table.png">
                    <h3 class="simple-grid-card__title">Таблички</h3>
                </article>
            </div>
        </section>
        <section class="container container_small info-block__wrapper">
            <article class="info-block info-block_large">
                <p class="info-block__title">От ярких неоновых надписей до креативных световых эффектов</p>
                <div>
                    <p class="info-block__text">Наша команда создает уникальные и впечатляющие решения, которые привлекают внимание и запоминаются надолго.</p>
                    <p class="info-block__text">Доверьте нам оформление вашего бизнеса, и вы получите стильный и эффективный инструмент для привлечения клиентов и укрепления имиджа вашей компании.</p>
                </div>
                <button class="button-primary button_small info-block__button">Наши работы</button>
            </article>
            <div class="info-block__media info-block__media_video">
                <!-- Сделать правильный ембед -->
                <iframe class="info-block__media-cover" style="z-index: unset" width="360" height="640" src="https://www.youtube.com/embed/9wcfpmmGinQ" title="Я рассказываю как делать бизнес ярче и заметнее для клиентов! Подписывайся👇🏻" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <section class="container workflow">
            <h2 class="section-title">Как мы работаем и достигаем лучших результатов для вас</h2>
            <div class="workflow__card-list">
                <article class="workflow__card">
                    <h3 class="workflow-card__title">Заявка</h3>
                    <p class="workflow-card__text">Оставьте заявку на сайте или свяжитесь с нами удобным способом.</p>
                    <div class="workflow-card__number">01</div>
                </article>
                <article class="workflow__card">
                    <h3 class="workflow-card__title">Дизайн</h3>
                    <p class="workflow-card__text">Составляем техническое задание, согласуем макет, заключаем договор.</p>
                    <div class="workflow-card__number">02</div>
                </article>
                <article class="workflow__card">
                    <h3 class="workflow-card__title">Изготовление</h3>
                    <p class="workflow-card__text">Отправляем макет в производство, срок выполнения 3-10 дней.</p>
                    <div class="workflow-card__number">03</div>
                </article>
                <article class="workflow__card">
                    <h3 class="workflow-card__title">Доставка</h3>
                    <p class="workflow-card__text">Отправляем вам заказ, при желании мы также осуществляем монтаж.</p>
                    <div class="workflow-card__number">04</div>
                </article>
            </div>
        </section>
        <section class="container container_small advantages">
            <h2 class="section-title">Как мы работаем и достигаем лучших результатов для вас</h2>
            <ul class="advanced-grid">
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/advantage_img.png">
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Опытные специалисты</h3>
                        <p class="advanced-grid-card__text">Это ключевой фактор успешного создания нашей продукции.Мы ценим опыт наших сотрудников и нанимаем исключительно профессионалов в области наружной рекламы, обеспечивая высокое качество и надежность нашей работы.</p>
                        <p class="advanced-grid-card__text">И, наконец, специалисты по неоновым вывескам особенно редки и востребованы. Их опыт и навыки придают нашим вывескам уникальность и эффектность.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Опытные специалисты</h3>
                        <p class="advanced-grid-card__text">Это ключевой фактор успешного создания нашей продукции.Мы ценим опыт наших сотрудников и нанимаем исключительно профессионалов в области наружной рекламы, обеспечивая высокое качество и надежность нашей работы.</p>
                        <p class="advanced-grid-card__text">И, наконец, специалисты по неоновым вывескам особенно редки и востребованы. Их опыт и навыки придают нашим вывескам уникальность и эффектность.</p>
                    </article>
                </li>
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card advanced-grid__card_accent">
                        <h3 class="advanced-grid-card__title">Превосходная вывеска</h3>
                        <p class="advanced-grid-card__text">Цена рекламной вывески отражает качество материалов и работу специалистов, что обеспечивает долговечность и эффективность вашей рекламы.</p>
                    </article>
                </li>
            </ul>
        </section>
    </main>
    <script>
        const cardsWrapper = document.querySelector('.info__card-list');
        const cards = Array.from(cardsWrapper.querySelectorAll('.info__card'));

        cards.forEach(card => {
            const clone = card.cloneNode(true);
            cardsWrapper.appendChild(clone);
        });
        
        // Альтернатива: CSS-анимация с перестроением через события
        cardsWrapper.addEventListener('animationiteration', () => {
            // Перемещаем первые 3 карточки в конец
            for (let i = 0; i < 3; i++) {
                cardsWrapper.appendChild(cardsWrapper.children[0]);
            }
        });
    </script>
    <%- include('partials/footer'); %>
</body>
</html>