<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="styles/info.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header', { activePage: 'info' }); %>
    <main>
        <section class="container hero">
            <div class="hero__bg-wrapper">
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <img class="hero__bg-img" src="/img/banner-info.png">
            </div>
            <div class="hero__content">
                <h1 class="hidden" aria-hidden="true">Good vibes</h1>
                <p class="hero__title">Информация для наших клиентов</p>
                <p class="hero__text">Мы предоставляем дополнительные услуги по разработке дизайна и установке наших продуктов, чтобы помочь вами пройти этот путь вместе с вами от начала и до конца.</p>
            </div>
        </section>
        <section class="container container_small subnavigation">
            <a href="#design" class="button-secondary subnavigation__link">Дизайн</a>
            <a href="#installation" class="button-secondary subnavigation__link">Монтаж</a>
            <a href="#delivery" class="button-secondary subnavigation__link">Доставка</a>
            <a href="#payment" class="button-secondary subnavigation__link">Оплата</a>
            <a href="#execution" class="button-secondary subnavigation__link">Сроки выполнения</a>
            <a href="#guarantee" class="button-secondary subnavigation__link">Гарантия</a>
        </section>
        <section id="design" class="container container_small">
            <div class="info-block__wrapper info-block__wrapper_card-mode">
                <article class="info-block">
                    <p class="info-block__title">Дизайн макета</p>
                    <div>
                        <p class="info-block__text">Мы предлагаем бесплатное создание дизайна макета вывески.</p>
                        <p class="info-block__text">Вместе с вами внимательно прорабатываем каждый этап макета и вносим измененияпо вашему желанию.</p>
                    </div>
                </article>
                <div class="info-block__media info-block__media_medium">
                    <img class="info-block__media-cover" src="/img/info_design_img.png">
                </div>
            </div>
        </section>
        <section id="installation" class="container container_small">
            <div class="info-block__wrapper info-block__wrapper_card-mode">
                <div class="info-block__media info-block__media_small">
                    <img class="info-block__media-cover" src="/img/info_installation_img.png">
                </div>
                <article class="info-block">
                    <p class="info-block__title">Монтаж</p>
                    <div>
                        <p class="info-block__text">Вы можете заказать услугу монтажа в Москве и Московской области. Чтобы узнать точную стоимость, напишите или позвоните нам.</p>
                        <p class="info-block__text">Мы часто слышим от наших клиентов вопросы о том, как самостоятельно повесить вывеску. Постараемся подробно рассказать о способах  установки неоновой вывески.</p>
                        <p class="info-block__text">Надеемся, благодаря нашим инструкциям, процесс монтажа неоновой вывески будет простым и понятным, и не займет много сили времени.</p>
                    </div>
                </article>
            </div>
        </section>
        <section id="instruction" class="container slider">
            <h2 class="section-title">Инструкция монтажа неоновой вывески на стену</h2>
            <ul class="slider__list">
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
            </ul>
            <div class="slider__navigation">
                <button class="button-primary">&leftarrow;</button>
                <button class="button-primary">&rightarrow;</button>
            </div>
        </section>
        <section class="container slider">
            <h2 class="section-title">Инструкция монтажа неоновой вывески на окно</h2>
            <ul class="slider__list">
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
                <li class="slider__list-item slider__card">
                </li>
            </ul>
            <div class="slider__navigation">
                <button class="button-primary">&leftarrow;</button>
                <button class="button-primary">&rightarrow;</button>
            </div>
        </section>
        <section id="delivery" class="container container_small">
            <h2 class="section-title">Доставка</h2>
            <ul class="advanced-grid delivery__grid">
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Самовывоз</h3>
                        <p class="advanced-grid-card__text">По адресу: Московская обл., г. Подольск, Гаражный проезд, 24.</p>
                        <p class="advanced-grid-card__text">Время работы: пн-пт с 10:00 до 19:00.</p>
                        <p class="advanced-grid-card__text">Дата и время самовывоза уточняется по телефону 8(952)-981-39-98 или в Whats'app 8(961)-303-78-08.</p>
                    </article>
                </li>
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Службы доставки</h3>
                        <p class="advanced-grid-card__text">Перед отправкой заказа производится тщательная упаковка, все заказы застрахованы.</p>
                        <p class="advanced-grid-card__text">По желанию вы можете выбрать: CDEK, Boxberry, Почта России.</p>
                        <p class="advanced-grid-card__text">Сроки доставки: от 2 до 7 дней, зависитот региона.</p>
                    </article>
                </li>
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Курьером</h3>
                        <p class="advanced-grid-card__text">Вы получаете фото заказа у курьера в машине, а также уведомление о том, что заказ отправлен.</p>
                        <p class="advanced-grid-card__text">Доставка Яндекс по Москвеи Московской области курьером до указанного адреса.</p>
                        <p class="advanced-grid-card__text">Сроки доставки: по готовности заказав удобное для вас время.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_order_0">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/info_delivery_img.png">
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h advanced-grid__item_order_0">
                    <article class="advanced-grid__card advanced-grid__card_accent">
                        <h3 class="advanced-grid-card__title">При заказе услуги Монтаж — доставка бесплатно</h3>
                        <p class="advanced-grid-card__text">Благодаря нашей внимательной и надежной системе упаковки, за всё время нашей деятельности не было ни одного случая, когда вывеска была получена в поврежденном состоянии.</p>
                    </article>
                </li>
            </ul>
        </section>
        <section id="payment" class="container container_small">
            <div class="info-block__wrapper info-block__wrapper_card-mode">
                <article class="info-block">
                    <p class="info-block__title">Оплата</p>
                    <div>
                        <p class="info-block__text">Для физических лиц: перевод на карту, оплата наличными.</p>
                        <p class="info-block__text">Для юридических лиц: перевод на расчетный счет по реквизитам.</p>
                    </div>
                </article>
                <div class="info-block__media info-block__media_medium">
                    <img class="info-block__media-cover" src="/img/info_payment_img.png">
                </div>
            </div>
        </section>
        <section id="execution" class="container container_small">
            <div class="info-block__wrapper info-block__wrapper_card-mode">
                <div class="info-block__media info-block__media_medium">
                    <img class="info-block__media-cover" src="/img/info_execution_img.png">
                </div>
                <article class="info-block">
                    <p class="info-block__title">Сроки выполнения</p>
                    <div>
                        <p class="info-block__text">Срочные заказы выполняем за 2-3 дня. В среднем сроки производства составляют 3-10 дней.</p>
                        <p class="info-block__text">Сроки могут варьироваться в зависимости от сложности заказа и загруженности производства.</p>
                    </div>
                </article>
            </div>
        </section>
        <section id="guarantee" class="container container_small">
            <div class="info-block__wrapper info-block__wrapper_card-mode">
                <article class="info-block">
                    <p class="info-block__title">Гарантия</p>
                    <div>
                        <p class="info-block__text">Мы предоставляем полную гарантию. Если вдруг с вывеской или блоком питания что-то произойдет, мы берем это на себя. А именно:</p>
                        <ul class="info-block__list">
                            <li class="info-block__list-item">доставку из любого региона,</li>
                            <li class="info-block__list-item">ремонт полностью за наш счёт, вплоть до замены на новую вывеску,</li>
                            <li class="info-block__list-item">подарок, от которого у вас будут только хорошие воспоминания о нас.</li>
                        </ul>
                    </div>
                    <p class="info-block__text_large">Гарантия 12 месяцев на все изделия.</p>
                </article>
                <div class="info-block__media info-block__media_small">
                    <img class="info-block__media-cover" src="/img/info_guarantee_img.png">
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>