<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('partials/head'); %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header', { activePage: 'services' }); %>
    <main>
        <section class="container hero">
            <div class="hero__bg-wrapper">
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <div class="hero__bg-panel"></div>
                <img class="hero__bg-img" src="/img/banner-services.png">
            </div>
            <div class="hero__content">
                <h1 class="hidden" aria-hidden="true">Good vibes</h1>
                <p class="hero__title">Помогаем бизнесу стать заметнее</p>
                <p class="hero__text">
                    Мы предлагаем широкий выбор рекламных решений для вашего бизнеса,от наружной рекламы до интерьерных вывесок и индивидуальных заказов,учитывая ваши потребности и самые смелые пожелания.
                </p>
            </div>
        </section>
        <section class="container">
            <h2 class="section-title">Что мы делаем</h2>
            <div class="simple-grid">
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_neon.png">
                    <h3 class="simple-grid-card__title">Неоновые вывески</h3>
                </article>
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_letters.png">
                    <h3 class="simple-grid-card__title">Объемные буквы</h3>
                </article>
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_cubes.png">
                    <h3 class="simple-grid-card__title">Световые кубы</h3>
                </article>
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_table.png">
                    <h3 class="simple-grid-card__title">Таблички</h3>
                </article>
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_print.png">
                    <h3 class="simple-grid-card__title">Печать</h3>
                </article>
                <article class="simple-grid__card">
                    <img class="simple-grid-card__img" src="/img/category_uncommon.png">
                    <h3 class="simple-grid-card__title">Нестандартные изделия</h3>
                </article>
            </div>
        </section>
        <section id="neon" class="container container_small">
            <h2 class="section-title">Неоновая вывеска</h2>
            <ul class="advanced-grid">
                <li class="advanced-grid__item advanced-grid__item_span-v">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Гибкий неон</h3>
                        <p class="advanced-grid-card__text">
                            Сложность заключается в том,что неон требует аккуратного обращения и качественной установки, чтобы его яркостьи красота сохранялись долгое время. Для максимальной эффективности рекламы важно также правильно подобрать цвета и шрифты.</p>
                        <p class="advanced-grid-card__text">
                            При создании неоновых вывесок используется гибкий неон, который позволяет делать различные формы и изгибы. 
                        </p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h">
                    <article class="advanced-grid__card advanced-grid__card_accent">
                        <p class="advanced-grid-card__text">Это идеальный вариант для парикмахерской, салона красоты, цветочного магазина, кафе, кофейни, табачного магазина, вейп-шопа и др.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_small">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Яркость</h3>
                        <p class="advanced-grid-card__text">Благодаря насыщенным цветам ваша реклама будет бросаться в глаза и запоминаться.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_small">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Долговечность</h3>
                        <p class="advanced-grid-card__text">Высокая стойкость к влаге, ультрафиолету и любым механическим повреждениям.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h advanced-grid__item_order_0">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_neon_img.png">
                    </article>
                </li>
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Высокая видимость</h3>
                        <p class="advanced-grid-card__text">Неоновые вывески отлично привлекают внимание на больших расстояниях и в любое время суток, даже при плохой освещенности.</p>
                    </article>
                </li>
            </ul>
        </section>
        <section id="letters" class="container container_small">
            <h2 class="section-title">Объемные буквы</h2>
            <ul class="advanced-grid">
                <li class="advanced-grid__item advanced-grid__item_middle">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Варианты световых букв</h3>
                        <p class="advanced-grid-card__text">Мы предлагаем 3 оптимальных варианта свечения для объемных букв: световое лицо, контражурная подсветка, или оба эти свечения вместе. </p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_middle advanced-grid__item_order_0">
                    <article class="advanced-grid__card advanced-grid__card_accent">
                        <p class="advanced-grid-card__text">Чаще всего для бизнеса выбирают именно объемные буквы, которые хорошо видны издалека и заметны в темное время суток.</p>
                        <p class="advanced-grid-card__text">При создании световых букв вы можете выбрать любой шрифт, цвет, размер и форму.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_middle">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_letters_img.png">
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_middle">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Световое лицо</h3>
                        <p class="advanced-grid-card__text">Это объемные буквы, у которых подсвечивается лицевая поверхность.</p>
                        <p class="advanced-grid-card__text">Чаще используются на улице, но можно и внутри помещения. Подходят для разных типов бизнеса: от ресторанов и магазинов до офисов и ТЦ.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_middle advanced-grid__item_order_2">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Контражурная подсветка</h3>
                        <p class="advanced-grid-card__text">Это подсветка контура за буквами (сзади). Данный вариант вывески смотрится выигрышно на любом фоне, фасаде здания и в любое время суток. Можно комбинировать со световым лицом для усиления эффекта. </p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_middle">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_letters_img_2.png">
                    </article>
                </li>
            </ul>
        </section>
        <section id="cubes" class="container container_small">
            <h2 class="section-title">Световые кубы</h2>
            <ul class="advanced-grid">
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_cubes_img.png">
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Лайтбокс</h3>
                        <p class="advanced-grid-card__text">Лайтбоксы или световые кубы — это панели с внутренней подсветкой. Отлично подходят, когда необходимо разместить большое количество текста или логотип с мелкими деталями.</p>
                        <p class="advanced-grid-card__text">Изготавливаем лайтбоксы для разных целей: интерьерныеи уличные, односторонние и двусторонние, напольные, настенные, подвесные.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h advanced-grid__item_order_2">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Панель-кронштейн</h3>
                        <p class="advanced-grid-card__text">Эти световые панели работают как указатели, могут включать в себя название компании, логотип и другие сведения. Отличное решение для тех, кто хочет, чтобы рекламу было видно с двух сторон.</p>
                        <p class="advanced-grid-card__text">Изготавливаем разные типы: односторонние, двухсторонние, с подсветкой, без подсветки. Их монтируют на стенах и фасадах зданий.</p>
                    </article>
                </li>
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_cubes_img_2.png">
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_order_2">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_cubes_img_3.png">
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h advanced-grid__item_order_3">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Короб с инкрустацией</h3>
                        <p class="advanced-grid-card__text">Это лайтбокс, который не требует использования светового фона, поскольку все элементы на нем (надписи и логотипы) подсвечиваются изнутри.</p>
                        <p class="advanced-grid-card__text">Идеально подходит для фасадного размещенияи на козырьках зданий, а также для ТЦ.</p>
                    </article>
                </li>
            </ul>
        </section>
        <section id="tables" class="container container_small">
            <div class="info-block__wrapper info-block__wrapper_card-mode">
                <article class="info-block_small">
                    <p class="info-block__title">Таблички</p>
                    <div>
                        <p class="info-block__text">Таблички можно использовать в различных целях, например, как указатели, отображение режима работы, привлечениев социальные сети с помощью QR-кодов, или интерьерные вывески с разнообразными вариантами подсветки.</p>
                        <p class="info-block__text">Таблички могут располагаться снаружи и внутри помещения. Изготавливаем таблички с подсветкой и без неё.</p>
                    </div>
                </article>
                <div class="info-block__media info-block__media_medium">
                    <img class="info-block__media-cover" src="/img/service_table_img.png">
                </div>
            </div>
        </section>
        <section class="container container_small">
            <h2 class="section-title">Печатная продукция</h2>
            <ul class="advanced-grid">
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Печать</h3>
                        <p class="advanced-grid-card__text">Также мы предоставляем услуги широкоформатной печати и нарезки наклеек с использованием современного оборудования и высокого качества печати.</p>
                        <p class="advanced-grid-card__text">Делаем ламинацию пленки для защиты от условий среды и внешних повреждений.</p>
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h advanced-grid__item_order_0">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_print_img.png">
                    </article>
                </li>
                <li class="advanced-grid__item advanced-grid__item_span-h">
                    <article class="advanced-grid__card advanced-grid__card_with-image">
                        <img class="advanced-grid-card__cover" src="/img/service_print_img_2.png">
                    </article>
                </li>
                <li class="advanced-grid__item">
                    <article class="advanced-grid__card">
                        <h3 class="advanced-grid-card__title">Баннер</h3>
                        <p class="advanced-grid-card__text">Баннер выглядит как полотно с рекламным объявлением. Его устанавливают на витринах, крышах и фасадах зданий, монтируют на щит билборда. Размеры баннера не ограничены.</p>
                    </article>
                </li>
            </ul>
        </section>
        <section id="uncommon" class="container container_small">
            <div class="info-block__wrapper info-block__wrapper_card-mode">
                <article class="info-block">
                    <p class="info-block__title">Нестандартные изделия</p>
                    <div>
                        <p class="info-block__text">Помогаем в создании уникальных изделий, таких как: буквы с мхом, неоном, лампочками, пенопластом, деревом и т.д.</p>
                        <p class="info-block__text">Нестандартные изделия подойдут для декора интерьера, оформления мероприятий, блогов и социальных сетей, и тех, кто хочет чего-то необычного.</p>
                    </div>
                </article>
                <div class="info-block__media info-block__media_small">
                    <img class="info-block__media-cover" src="/img/service_uncommon_img.png">
                </div>
            </div>
        </section>
        <section class="container postcard__wrapper">
            <article class="postcard">
                <div class="postcard__content">
                    <img class="postcard__img" src="/img/postcard_service_img.png">
                    <p class="postcard__title">Пройдите опрос и получите подарок за выбор нашей компании</p>
                    <p class="postcard__text">Ответьте на 5 вопросов, и мы предложим вам оптимальное решение. Опрос поможет понять вашу идею, бюджет и сроки, а также необходимость в дополнительных услугах.</p>
                    <button class="button-primary">Пройти опрос</button>
                </div>
            </article>
        </section>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>